a:hover {
	text-decoration: none;
}

h1 {
	margin-top: 0;
}

h1,h2,h3,h4 {
	font-family: sans-serif;
}

.jGrowl-notification {
	font-weight: bold;
}

.error {
	background:red !important;
}

.dialogback {
	background: rgba(255,255,255,0.8);
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	text-align: center;
}

.dialogbox {
	background: white;
	position: absolute;
	top: 0;
	left: 50%;
	margin: 3em -25em;
	width: 50em;
	padding: 1em;
	border: 0.1em solid #111;
	border-radius: 0.2em;
	text-align: left;
}

.dialogbox > * {
	display: block;
	width:100%;
	margin-top: 0.5em;
}

.dialogbox .close {
	float: right;
	font-family: sans-serif;
	font-weight: bold;
	padding: 0 0.5em;
	border-radius:4px;
}

.dialogbox .close:hover {
	color: white;
	background: black;
	cursor: pointer;
}

#searchPanel {
	float: left;
	border-right: 2px dotted #555;
	padding: 1em;
}

#byAuthorSelector {
	width: 8em;
}

#tagList {
	padding: 0;
	width: 10em;
	text-align: center;
	line-height: 1.5em;
}

#tagList li {
	display: inline;
	list-style: none;
}

#tagList li a {
	color: white;
	background: blue;
	margin: 0;
	padding: 0.1em 0.3em;
	border-radius: 0.3em;
	text-decoration: none;
	font-family: sans-serif;
	font-weight: bold;
}

#tagList li a:hover {
	color: blue;
	background: white;
}

#mainContainer {
	padding: 1em;
	overflow: auto;
}

#topButtons {
	font-weight: bold;
}

#bibListTitle {
	border-bottom: 1px solid #444;
}

#bibList li {
	list-style: none;
}

#bibList > li {
	margin: 0;
	padding: 0.5em;
}

#bibList > li:nth-child(2n) {
	background: #F0F0F0;
}

#bibList > li.readLater {
	background: #FFE356;
}

#bibList .docTitle {
	font-weight: bold;
}

#bibList .docAuthor {
	font-style: italic;
	margin-left: 1em;
}

#bibList .docTags li, #bibList .docAuthors li {
	display: inline;
}

#bibList .docYear:before{
	content:"(";
}

#bibList .docYear:after{
	content:")";
}

.docContainer {
	overflow: auto;
}

#bibList .bigLeftButton {
	background-color: black;
	color: white;
	font-weight: bold;
	font-family: sans-serif;
	float: left;
	padding: 0.5em;
	border-radius: 0.5em;
	margin-right: 0.5em;
}

#bibList .bigLeftButton:hover {
	background: #729FCF;
	cursor: pointer;
}

/* this is why "dropZone" elems have their text in a <span> ! */
.dropZone > * {
	pointer-events: none;
}

a.draggedOver {
	background-image: linear-gradient(rgba(255, 255, 255, .6) 50%, transparent 50%, transparent);
	background-size: 2px 2px;
}

a.docExpand {
	text-decoration: none;
}

