h1,h2,h3,h4 {
	font-family: sans-serif;
}

.error {
	background:red;
}

.dialogback {
	background: rgba(255,255,255,0.8);
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	text-align: center;
}

.dialogbox {
	background: white;
	position: absolute;
	top: 0;
	left: 50%;
	width: 30em;
	margin: 2em -15em;
	padding: 1em;
	border: 0.1em solid #111;
	border-radius: 0.2em;
	text-align: left;
}

.dialogbox > * {
	display: block;
	width:100%;
	margin-top: 0.5em;
}

.dialogbox .close {
	float: right;
	font-family: sans-serif;
	font-weight: bold;
	padding: 0 0.5em;
}

.dialogbox .close:hover {
	color: white;
	background: black;
	cursor: pointer;
}

#tagListContainer {
	float: right;
	border-left: 2px dotted #555;
	padding:0.5em;
}

#mainContainer {
	overflow: auto;
}

#topButtons li {
	display: inline;
	cursor: pointer;
	text-decoration: underline;
	color: blue;
	font-weight: bold;
}

#topButtons li:hover {
	text-decoration: none;
	color: white;
	background: blue;
}

#bibListTitle {
	border-bottom: 1px solid #444;
}

#bibList li {
	list-style: none;
}

#bibList > li {
	margin-bottom: 1em;
	padding: 0.3em;
	cursor: pointer;
}

#bibList > li:nth-child(2n) {
	background: #F0F0F0;
}

#bibList > li.readLater {
	background: #FFE356;
}

#bibList .docTitle {
	font-weight: bold;
}

#bibList .docAuthor {
	font-style: italic;
	display: block;
}

#bibList .docTags li {
	display: inline;
}

#bibList .docYear:before{
	content:"(";
}

#bibList .docYear:after{
	content:")";
}

