<div class="dialogback">
	<div class="dialogbox">
		<h2>
			<a class="close">X</a>
			New entry
		</h2>
		
		<label for="newDocBib">
			Paste bib :
			<input type="button" id="newDocPutTemplate" value="Template" />
		</label>
		<textarea id="newDocBib" rows="4"></textarea>
		
		<label for="newDocTags">Tags (comma-separated) :</label>
		<input type="text" id="newDocTags" />
		
		<label for="newDocComment">Comments :</label>
		<textarea id="newDocComment" rows="5"></textarea>
		
		<p>
			<input type="checkbox" id="newDocReadLater" checked="checked"/>
			<label for="newDocReadLater">Read later</label>
		</p>
		
		<input type="button" value="Save" id="btnSaveNewDoc">
	</div>
</div>
